site_name: Focoos AI SDK

site_url: https://focoosai.github.io/focoos/
repo_url: https://github.com/FocoosAI/focoos
edit_uri: edit/main/docs

theme:
  name: material
  palette:
    - scheme: slate
  logo: assets/logo.svg
  favicon: assets/favicon.svg
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky

extra_css:
  - assets/stylesheets/custom.css
  - https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=DM+Mono&display=swap # Load Google Fonts (DM Sans Regular, Medium, and DM Mono)

plugins:
  - search
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          options:
            docstring_style: google
  - include-markdown

nav:
  - Focoos AI:
      - Welcome: index.md
      - Installation: setup.md
      - Models: models.md
  - How To:
      - Manage Dataset: howto/create_dataset.md
      - Create and Train Model: howto/personalize_model.md
      - Manage Models: howto/manage_models.md
      - Use Model: howto/use_model.md
      - Manage User: howto/manage_user.md
  - Focoos Models:
      - Overview: models.md
      - Semantic segmentation:
        - fai-mf-l-ade: models/fai-mf-l-ade.md
        - fai-mf-m-ade: models/fai-mf-m-ade.md
        - fai-mf-s-ade: models/fai-mf-s-ade.md
      - Object detection:
        - fai-detr-l-coco: models/fai-detr-l-coco.md
        - fai-detr-m-coco: models/fai-detr-m-coco.md
        - fai-detr-s-coco: models/fai-detr-s-coco.md
        - fai-detr-n-coco: models/fai-detr-n-coco.md
        - fai-detr-l-obj365: models/fai-detr-l-obj365.md
      - Instance_segmentation:
        - fai-mf-l-coco-ins: models/fai-mf-l-coco-ins.md
  - API Reference:
      - Focoos: api/focoos.md
      - Config: api/config.md
      - RemoteModel: api/remote_model.md
      - LocalModel: api/local_model.md
      - RemoteDataset: api/remote_dataset.md
      - Runtime: api/runtime.md
      - Ports: api/ports.md

markdown_extensions:
  - pymdownx.highlight:
      linenums: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.snippets:
      restrict_base_path: false
  - admonition
  - tables
  - toc:
      permalink: "#"
  - attr_list
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra:
  version:
    provider: mike
  analytics:
    provider: google
    property: G-RP4PM5PGLN
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/FocoosAI/focoos
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/focoosai

copyright: Copyright &copy; 2024 FocoosAI

watch:
  - focoos
