[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
include = ["focoos**"]

[project]
name = "focoos"
version = "v0.0.1"
description = "Focoos SDK"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "requests",
    "Pillow~=10.4.0",
    "supervision~=0.24.0",
    "pydantic~=2.8.2",
    "pydantic-settings~=2.5.0",
    "tqdm~=4.66.6",
    "numpy~=1.26.4",
    "scipy~=1.14.1",
]

authors = [{ name = "focoos.ai", email = "info@focoos.ai" }]
keywords = [
    "computer_vision",
    "object_detection",
    "segmentation",
    "model_serving",
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-cov",
    "pytest-mock",
    "isort",
    "black",
    "flake8",
    "python-dotenv",
    "gradio~=5.3.0",
    "sniffio~=1.2.0",
]

inference = ["onnxruntime==1.18.0"]
inference-gpu = ["onnxruntime-gpu==1.18.0"]
